@font-face {
  font-family: "InstrumentSans";
  font-display: swap;
  src: url("../fonts/InstrumentSans-Medium.woff2") format("woff2"), url("../fonts/InstrumentSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSans";
  font-display: swap;
  src: url("../fonts/InstrumentSans-Regular.woff2") format("woff2"), url("../fonts/InstrumentSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.h1-400-ls {
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 109%;
  letter-spacing: -0.02em;
  color: #fff;
}

.h2-400-ls {
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #fff;
}

.h3-400-ls {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fff;
}

.b1-400-ls {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #fff;
}

.b2-400-ls {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #fff;
}

.b2-500 {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
}

.b3-400-ls {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  color: #fff;
}

.b3-400 {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.b4-400-ls {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.b4-400 {
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none;
}

:focus,
:active {
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

textarea {
  resize: none;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1.4;
  font-family: "InstrumentSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
  max-width: 1700px;
}

.container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  padding: 5px 32px;
  height: 36px;
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-gold {
  background: #d4af77;
  color: #fff;
}

.btn-border-black {
  border: 1px solid #0f172a;
  color: #0f172a;
  padding: 5px 31px;
}

.btn-grey {
  background: #e2e8f0;
  color: #0f172a;
}

.btn-border-grey {
  border: 1px solid #e2e8f0;
  padding: 5px 31px;
  color: #0f172a;
}

.btn-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 40px;
  width: 60px;
  height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-arrow svg {
  fill: transparent;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.btn-arrow-gold {
  background: #d4af77;
}

.btn-arrow-gold svg {
  stroke: #fff;
}

.btn-arrow-grey {
  background: #64748b;
}

.btn-arrow-grey svg {
  stroke: #fff;
}

.btn-arrow-grey-light {
  background: #f8fafc;
}

.btn-arrow-grey-light svg {
  stroke: #0f172a;
}

.btn-arrow-grey-dark {
  background: #e2e8f0;
}

.btn-arrow-grey-dark svg {
  stroke: #0f172a;
}

.submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px;
}

.submenu ul li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.submenu ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 13px;
  right: -8.5px;
  background: #64748b;
}

.submenu ul li a {
  color: #64748b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.socials ul a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  background: #f8fafc;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials ul a svg {
  fill: #0f172a;
}

.mt300 {
  margin-top: 300px;
}

.mt135 {
  margin-top: 135px;
}

.mt130 {
  margin-top: 135px;
}

.mt56 {
  margin-top: 56px;
}

.pd150 {
  padding: 150px 0;
}

.mw796 {
  max-width: 796px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header.header-home .header__row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 40px;
}

.header.header-home .header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header.header-home .header__burger span {
  background: #fff;
}

.header__main {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 20px 0;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__burger {
  position: absolute;
  left: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  width: 24px;
  height: 22px;
  display: none;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.header__burger span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 18px;
  height: 1px;
  background: #0f172a;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__burger span:nth-child(2) {
  margin: 5px 0;
  width: 10px;
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
}

.header__logo img {
  max-height: 100%;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu ul a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  padding: 5px 28px;
  height: 36px;
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  color: #0f172a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__menu ul a.active {
  background: #d4af77;
  color: #fff;
}

.header .element {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24px;
  height: 24px;
}

.mobile-header {
  position: fixed;
  top: 0;
  left: -120%;
  width: auto;
  height: 100dvh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff;
}

.mobile-header.active {
  left: 0;
}

.mobile-header__close {
  position: absolute;
  width: 40px;
  height: 40px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 48px;
  right: 48px;
}

.mobile-header__close svg {
  width: 24px;
  height: 24px;
}

.mobile-header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 80px 0;
}

.mobile-header__body {
  height: 100%;
  overflow-y: auto;
}

.mobile-header__body::-webkit-scrollbar {
  width: 5px;
}

.mobile-header__body::-webkit-scrollbar-track {
  background: transparent;
}

.mobile-header__body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  cursor: pointer;
}

.mobile-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 60px;
  padding: 0 128px 0 150px;
}

.mobile-header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}

.mobile-header__menu ul a {
  color: #e2e8f0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
}

.mobile-header__menu ul a svg {
  stroke: transparent;
  fill: transparent;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(6.5px) translateX(-10px);
  -ms-transform: translateY(6.5px) translateX(-10px);
  transform: translateY(6.5px) translateX(-10px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-header__menu ul a:hover {
  color: #0f172a;
}

.mobile-header__menu ul a.active {
  color: #0f172a;
  background: #fff;
}

.mobile-header__menu ul a.active svg {
  stroke: #0f172a;
  -webkit-transform: translateY(6.5px);
  -ms-transform: translateY(6.5px);
  transform: translateY(6.5px);
}

.mobile-header__logo {
  height: 36px;
  margin-top: 60px;
}

.mobile-header__logo img {
  max-height: 100%;
}

.mobile-header__text {
  color: #64748b;
  margin-top: 13px;
}

.mobile-header__submenu {
  margin-top: 39px;
}

.copyright {
  color: #64748b;
}

.footer {
  background: #0f172a;
  padding: 60px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 80px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px;
}

.footer__logo {
  height: 36px;
}

.footer__logo img {
  max-height: 100%;
}

.footer__text {
  max-width: 253px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 34px;
}

.footer__copyright {
  margin-top: 56px;
}

.menu-footer__title {
  color: #64748b;
}

.menu-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 28px;
}

.menu-footer ul a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 34px;
}

.contacts-footer__title {
  color: #64748b;
}

.contacts-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 57px;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.contacts-footer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 253px;
  height: 1px;
  background: #64748b;
  bottom: -29px;
}

.contacts-footer__item a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home {
  position: relative;
  min-height: 100dvh;
}

.home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(62.04% 62.04% at 50% 48.84%, rgba(11, 15, 20, 0) 0%, #121821 100%);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 100px 0 80px 0;
}

.home__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 80px;
}

.home__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.home__title {
  margin-top: 18px;
  max-width: 684px;
}

.home__logo {
  height: 36px;
}

.home__logo img {
  max-height: 100%;
}

.home__text {
  max-width: 527px;
}

.hero {
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: repeat;
  background-position: 50% 100%;
}

.hero__body {
  max-width: 663px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero__text {
  color: #0f172a;
  max-width: 527px;
}

.hero__title {
  color: #0f172a;
  margin-top: 12px;
}

.hero__btn {
  margin-top: 40px;
}

.no-webp .hero--founders {
  background-image: url("../img/patterns/01.png"); }

.no-webp .hero--about {
  background-image: url("../img/patterns/02.png"); }

.no-webp .hero--portfolio {
  background-image: url("../img/patterns/03.png"); }

.clarity__title {
  text-align: center;
  color: #0f172a;
}

.clarity__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.clarity__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 10px);
  flex: 0 1 calc(50% - 10px);
}

.item-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  padding: 28px;
  height: 100%;
  gap: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item-arrow__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.item-arrow__title {
  color: #0f172a;
}

.item-arrow__text {
  color: #64748b;
}

.item-arrow--border {
  border: 1px solid #64748b;
  min-height: 298px;
  opacity: 0.5;
}

.item-arrow--border:hover {
  opacity: 1;
}

.item-arrow--border:hover .btn-arrow {
  background: #d4af77;
}

.item-arrow--border:hover .btn-arrow svg {
  stroke: #fff;
}

.item-arrow--bg {
  height: 100%;
  min-height: 490px;
  background: #f8fafc;
}

.item-arrow--bg:hover {
  background: #e2e8f0;
}

.item-arrow--bg:hover .btn-arrow {
  background: #64748b;
}

.item-arrow--bg:hover .btn-arrow svg {
  stroke: #fff;
}

.content-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
}

.content-block__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 663px;
  flex: 0 0 663px;
  min-height: 730px;
  position: relative;
}

.content-block__image img,
.content-block__image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.content-block__main {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 663px;
  flex: 0 0 663px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 137px;
}

.content-block__main .content-block__title {
  width: 100%;
}

.content-block__image-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 112px;
  background: rgba(248, 250, 252, 0.6);
  border-radius: 100px;
  -webkit-box-shadow: 0 5px 40px 0 rgba(15, 23, 42, 0.1);
  box-shadow: 0 5px 40px 0 rgba(15, 23, 42, 0.1);
  padding: 20px 52px;
  position: absolute;
}

.content-block__image-label svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  width: 46px;
  height: 46px;
}

.content-block__image-label span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0f172a;
  margin-left: 62px;
  position: relative;
  white-space: nowrap;
}

.content-block__image-label span::before {
  position: absolute;
  content: "";
  height: 46px;
  width: 1px;
  left: -39px;
  background: #0f172a;
}

.content-block__image-label--left {
  top: 80px;
  left: -99px;
}

.content-block__image-label--right {
  bottom: 80px;
  right: -99px;
}

.content-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.content-block__title {
  color: #0f172a;
}

.content-block__text {
  color: #64748b;
  max-width: 527px;
  margin-top: 24px;
}

.content-block__image--empty {
  position: relative;
}

.content-block__items {
  margin-top: 56px;
}

.content-block__list {
  width: 100%;
  max-width: 526px;
}

.content-block__list-item {
  padding: 37px 0;
  color: #0f172a;
  border-top: 1px solid #e2e8f0;
}

.content-block__list-item:last-child {
  border-bottom: 1px solid #e2e8f0;
}

.content-block__info {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.content-block__info-item {
  height: 100%;
  color: #64748b;
  width: 117px;
}

.content-block__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 46px;
}

.content-block__email-text {
  color: #64748b;
  max-width: 221px;
}

.content-block__email-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #e2e8f0;
}

.content-block__email-link {
  color: #0f172a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1px;
  height: 51px;
  background: #e2e8f0;
}

.content-block--right .content-block__image {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.content-block--right .content-block__body {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.content-block--left .content-block__image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.content-block--left .content-block__body {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.content-block--hero .content-block__inner {
  position: relative;
}

.items-hover {
  width: 100%;
}

.items-hover__item {
  cursor: default;
  padding: 37px 0;
  border-top: 1px solid #e2e8f0;
}

.items-hover__item:last-child {
  border-bottom: 1px solid #e2e8f0;
}

.items-hover__item.hover .items-hover__title {
  color: #0f172a;
}

.items-hover__item.hover .items-hover__text {
  color: #64748b;
}

.items-hover__item.hover .items-hover__image {
  opacity: 1;
}

.items-hover__title {
  color: #e2e8f0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.items-hover__text {
  color: #e2e8f0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 24px;
}

.items-hover__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 663px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
}

.items-hover__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.items-slider__top {
  width: 100%;
  max-width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.items-slider__top .items-slider__btn {
  margin-top: 28px;
}

.items-slider__text {
  color: #0f172a;
  max-width: 527px;
}

.items-slider__title {
  color: #0f172a;
  text-align: center;
}

.items-slider__swiper {
  width: 100%;
}

.items-slider__swiper.swiper {
  overflow: visible;
}

.items-slider--variable-end .swiper-slide {
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(33.333% - 13.3333333333px);
  flex: 0 1 calc(33.333% - 13.3333333333px);
}

.items-slider--variable-end .item-arrow--bg {
  min-height: 370px;
}

.card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.card-icon:hover .card-icon__top svg {
  stroke: #d4af77;
}

.card-icon__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-icon__top svg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  width: 46px;
  height: 46px;
  stroke: #0f172a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-icon__number {
  color: #d4af77;
  width: 98px;
  text-align: right;
}

.card-icon__title {
  color: #0f172a;
  margin-left: 38px;
}

.card-icon__text {
  margin-top: 16px;
  padding-left: 84px;
  color: #64748b;
}

.card-number .card-icon__top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card-number .card-icon__text {
  padding-left: 136px;
}

.subscribe {
  background: #f8fafc;
}

.subscribe__title {
  color: #0f172a;
  max-width: 888px;
  text-align: center;
}

.form-subscribe {
  position: relative;
}

.form-subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 40px;
  border: 1px solid #fff;
  padding: 5px;
  width: 100%;
  max-width: 420px;
}

.form-subscribe form:has(.form-subscribe__input.error) {
  border-color: #c05a5a;
}

.form-subscribe__input {
  width: 100%;
  font-family: "InstrumentSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  color: #0f172a;
  padding: 0 20px;
}

.form-subscribe__btn {
  white-space: nowrap;
}

.values__title {
  color: #0f172a;
  text-align: center;
}

.values__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.values__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 10px);
  flex: 0 1 calc(50% - 10px);
}

.card-tag {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 90px;
  border-radius: 10px;
  padding: 28px;
  background: #f8fafc;
}

.card-tag__text {
  color: #0f172a;
}

.tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #0f172a;
  border-radius: 40px;
  padding: 5px 32px;
  min-height: 36px;
  background: #e2e8f0;
}

.why-us__title {
  text-align: center;
  color: #0f172a;
  max-width: 628px;
}

.why-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 56px 20px;
}

.why-us__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(33.333% - 13.3333333333px);
  flex: 0 1 calc(33.333% - 13.3333333333px);
}

.investments__title {
  text-align: center;
  color: #0f172a;
}

.investments__body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.investments__top {
  width: 100%;
}

.card-logo {
  border-radius: 10px;
  padding: 45px;
  background: #f8fafc;
}

.card-logo img {
  max-width: 100%;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}

.filter__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 56px;
}

.filter__item.active {
  position: relative;
  z-index: 2;
}

.filter__reset {
  color: #0f172a;
  padding-left: 2px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown.active .dropdown__btn .dropdown__btn-arrow {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.dropdown.active .dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}

.dropdown__btn-text {
  color: #0f172a;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown__btn-arrow {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown__btn-arrow svg {
  stroke: #0f172a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown__list {
  display: none;
  position: absolute;
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 28px;
  min-width: 180px;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 16px;
}

.dropdown__item {
  cursor: pointer;
  color: #0f172a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown__input-hidden {
  display: none;
}

.contacts__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 20px;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__info .contacts__title {
  width: 100%;
  max-width: 526px;
}

.contacts__title {
  color: #0f172a;
}

.contacts__items {
  width: 100%;
  max-width: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 56px;
}

.item-contacts__title {
  color: #0f172a;
}

.item-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #64748b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 24px;
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.form-contact__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.form-contact__column--half {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 10px);
  flex: 0 1 calc(50% - 10px);
}

.form-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.form-contact__input {
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 10px 42px;
  width: 100%;
  height: 100px;
  color: #0f172a;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-contact__input::-webkit-input-placeholder {
  color: #64748b;
}

.form-contact__input::-moz-placeholder {
  color: #64748b;
}

.form-contact__input:-ms-input-placeholder {
  color: #64748b;
}

.form-contact__input::-ms-input-placeholder {
  color: #64748b;
}

.form-contact__input::placeholder {
  color: #64748b;
}

.form-contact__input:focus {
  border-color: #64748b;
}

.form-contact__input:focus::-webkit-input-placeholder {
  color: #0f172a;
}

.form-contact__input:focus::-moz-placeholder {
  color: #0f172a;
}

.form-contact__input:focus:-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__input:focus::-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__input:focus::placeholder {
  color: #0f172a;
}

.form-contact__input.error {
  border-color: #c05a5a;
}

.form-contact__input.error::-webkit-input-placeholder {
  color: #0f172a;
}

.form-contact__input.error::-moz-placeholder {
  color: #0f172a;
}

.form-contact__input.error:-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__input.error::-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__input.error::placeholder {
  color: #0f172a;
}

.form-contact__input.error + .form-contact__message {
  display: block;
}

.form-contact__dropdown {
  width: 100%;
}

.form-contact__dropdown.active .dropdown__btn .dropdown__btn-text,
.form-contact__dropdown.selected .dropdown__btn .dropdown__btn-text {
  color: #0f172a;
}

.form-contact__dropdown.active .dropdown__btn .dropdown__btn-arrow svg,
.form-contact__dropdown.selected .dropdown__btn .dropdown__btn-arrow svg {
  stroke: #0f172a;
}

.form-contact__dropdown .dropdown__btn {
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 10px 42px;
  width: 100%;
  height: 100px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-contact__dropdown .dropdown__btn .dropdown__btn-text {
  color: #64748b;
  text-align: left;
}

.form-contact__dropdown .dropdown__btn .dropdown__btn-arrow svg {
  stroke: #64748b;
}

.form-contact__dropdown .dropdown__list {
  width: 100%;
}

.form-contact__textarea {
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 42px;
  width: 100%;
  height: 280px;
  color: #0f172a;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  resize: none;
}

.form-contact__textarea::-webkit-input-placeholder {
  color: #64748b;
}

.form-contact__textarea::-moz-placeholder {
  color: #64748b;
}

.form-contact__textarea:-ms-input-placeholder {
  color: #64748b;
}

.form-contact__textarea::-ms-input-placeholder {
  color: #64748b;
}

.form-contact__textarea::placeholder {
  color: #64748b;
}

.form-contact__textarea:focus {
  border-color: #64748b;
}

.form-contact__textarea:focus::-webkit-input-placeholder {
  color: #0f172a;
}

.form-contact__textarea:focus::-moz-placeholder {
  color: #0f172a;
}

.form-contact__textarea:focus:-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__textarea:focus::-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__textarea:focus::placeholder {
  color: #0f172a;
}

.form-contact__textarea.error {
  border-color: #c05a5a;
}

.form-contact__textarea.error::-webkit-input-placeholder {
  color: #0f172a;
}

.form-contact__textarea.error::-moz-placeholder {
  color: #0f172a;
}

.form-contact__textarea.error:-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__textarea.error::-ms-input-placeholder {
  color: #0f172a;
}

.form-contact__textarea.error::placeholder {
  color: #0f172a;
}

.form-contact__textarea.error + .form-contact__message {
  display: block;
}

.form-contact__message {
  display: none;
  position: relative;
  width: 100%;
  color: #c05a5a;
  margin-top: 12px;
}

@media (min-width: 480.98px) {
  .dropdown__item {
    white-space: nowrap;
  }
}

@media (min-width: 768.98px) {
  .items-slider--variable-end .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (min-width: 1024.98px) {
  .items-slider--variable-end .swiper-wrapper {
    gap: 20px;
  }
}

@media (min-width: 1250px) {
  .content-block__body {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 0 40px;
  }

  .content-block__inner {
    max-width: 663px;
    padding: 40px 0;
  }

  .content-block__inner--pd0 {
    padding: 0;
  }

  .content-block--hero .content-block__inner {
    padding: 80px 0;
  }

  .items-hover {
    max-width: 526px;
  }
}

@media (min-width: 1300px) {
  .footer__row {
    padding-right: 49px;
  }
}

@media (min-width: 1550px) {
  .card-icon {
    padding-left: 52px;
  }

  .card-number {
    padding-left: 0px;
  }
}

@media (max-width: 1850px) {
  .content-block__image-label--left {
    left: -50px;
  }

  .content-block__image-label--right {
    right: -50px;
  }
}

@media (max-width: 1750px) {
  .content-block__image-label--left {
    left: 25px;
    top: -40px;
  }

  .content-block__image-label--right {
    right: 25px;
    bottom: -40px;
  }
}

@media (max-width: 1400px) {
  .investments__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1350px) {
  .card-icon__number {
    width: 47px;
  }

  .card-icon__title {
    margin-left: 24px;
  }

  .card-icon__text {
    padding-left: 70px;
  }

  .card-number .card-icon__text {
    padding-left: 71px;
  }

  .contacts__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1250px) {
  .footer__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
  }

  .content-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 60px;
  }

  .content-block__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-height: 0;
    height: auto;
    padding-bottom: 91.247%;
  }

  .content-block__main {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .content-block__main .content-block__text {
    max-width: none;
  }

  .content-block__inner--pd0 .content-block__list {
    max-width: none;
  }

  .content-block__image--empty {
    display: none;
  }

  .content-block__items {
    margin-top: 80px;
  }

  .content-block__info {
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 60px;
  }

  .content-block--left .content-block__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .content-block--left .content-block__body {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .items-hover__item.hover .items-hover__image {
    padding-bottom: 73.21%;
    margin-top: 40px;
  }

  .items-hover__image {
    position: relative;
    top: auto;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 1;
    padding-bottom: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 1200px) {
  .why-us__row {
    gap: 40px 16px;
  }

  .why-us__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 8px);
    flex: 0 1 calc(50% - 8px);
  }
}

@media (max-width: 1024.98px) {
  .h1-400-ls {
    font-size: 48px;
    line-height: 108%;
  }

  .h3-400-ls {
    font-size: 27px;
  }

  .b2-400-ls {
    font-size: 16px;
    line-height: 119%;
  }

  .b2-500 {
    font-size: 16px;
  }

  .b4-400-ls {
    font-size: 12px;
    line-height: 117%;
  }

  .mt300 {
    margin-top: 200px;
  }

  .mt135 {
    margin-top: 100px;
  }

  .mt130 {
    margin-top: 84px;
  }

  .pd150 {
    padding: 106px 0;
  }

  .header__main {
    padding: 12px 0;
  }

  .header__row {
    padding: 0 40px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu {
    display: none;
  }

  .mobile-header {
    width: 100%;
  }

  .mobile-header__close {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .mobile-header__inner {
    padding: 0 40px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__text {
    max-width: 195px;
  }

  .footer__menu {
    gap: 28px;
  }

  .menu-footer ul {
    gap: 24px;
  }

  .contacts-footer {
    gap: 28px;
  }

  .contacts-footer__items {
    gap: 49px;
  }

  .contacts-footer__item:not(:last-child)::after {
    bottom: -25px;
  }

  .home {
    padding: 100px 0 60px 0;
  }

  .home__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .home__title {
    max-width: 626px;
  }

  .home__text {
    max-width: 460px;
  }

  .hero__text {
    max-width: 469px;
  }

  .no-webp .hero--founders {
    background-image: url("../img/patterns/01-2.png"); }

  .no-webp .hero--about {
    background-image: url("../img/patterns/02-2.png"); }

  .no-webp .hero--portfolio {
    background-image: url("../img/patterns/03-2.png"); }

  .clarity__row {
    gap: 16px;
  }

  .clarity__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 8px);
    flex: 0 1 calc(50% - 8px);
  }

  .item-arrow {
    padding: 24px;
  }

  .item-arrow__top {
    gap: 20px;
  }

  .item-arrow--bg {
    min-height: 438px;
  }

  .content-block__text {
    max-width: 453px;
  }

  .content-block__list {
    max-width: 456px;
  }

  .content-block__list-item {
    padding: 32px 0;
  }

  .content-block__info-item {
    width: 136px;
  }

  .items-hover__item {
    padding: 32px 0;
  }

  .items-hover__text {
    margin-top: 20px;
  }

  .items-slider__top {
    max-width: 646px;
  }

  .items-slider__text {
    max-width: 469px;
  }

  .items-slider--variable-end .swiper-slide {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 10px);
    flex: 0 1 calc(50% - 10px);
  }

  .items-slider--variable-end .item-arrow--bg {
    min-height: 438px;
  }

  .card-icon__text {
    margin-top: 10px;
  }

  .subscribe__title {
    max-width: 506px;
  }

  .form-subscribe form {
    max-width: 366px;
  }

  .values__row {
    gap: 16px;
  }

  .values__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .tag {
    padding: 5px 28px;
    min-height: 32px;
  }

  .why-us__title {
    max-width: 544px;
  }

  .investments__body {
    gap: 16px;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .item-contacts__link {
    margin-top: 20px;
  }

  .form-contact__row {
    gap: 16px;
  }

  .form-contact__input {
    font-size: 16px;
    line-height: 119%;
    height: 84px;
    padding: 10px 32px;
  }

  .form-contact__dropdown .dropdown__btn .dropdown__btn-text {
    font-size: 16px;
    line-height: 119%;
  }

  .form-contact__dropdown .dropdown__btn {
    height: 84px;
    padding: 10px 32px;
  }

  .form-contact__textarea {
    font-size: 16px;
    line-height: 119%;
    height: 260px;
    padding: 32px;
  }

  .form-contact__message {
    margin-top: 8px;
  }
}

@media (max-width: 1024.98px) or (max-height: 1040px) {
  .mobile-header__menu ul {
    gap: 40px;
  }

  .mobile-header__logo {
    margin-top: 40px;
  }

  .mobile-header__submenu {
    margin-top: 28px;
  }
}

@media (max-width: 768.98px) {
  .container {
    padding: 0 12px;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
  }

  .items-slider__swiper.swiper.swiper--4 .swiper-slide {
    width: 100%;
    max-width: 336px;
  }

  .items-slider--variable .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
  }

  .items-slider--variable .swiper-slide {
    width: 100%;
  }

  .items-slider--variable-end .swiper-slide {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 336px;
  }

  .why-us__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .filter {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .filter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
  }

  .filter__reset {
    padding-left: 0;
    padding-bottom: 2px;
  }

  .dropdown__btn {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-contact__column--half {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 550px) {
  .content-block__image-label span {
    margin-left: 48px;
  }

  .content-block__image-label span::before {
    left: -28px;
  }

  .content-block__image-label {
    padding: 10px 34px;
    min-height: 86px;
  }

  .content-block__image-label--left {
    top: 0;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }

  .content-block__image-label--right {
    bottom: 0;
    right: auto;
    left: 50%;
    -webkit-transform: translateY(50%) translateX(-50%);
    -ms-transform: translateY(50%) translateX(-50%);
    transform: translateY(50%) translateX(-50%);
  }
}

@media (max-width: 480.98px) {
  .h1-400-ls {
    font-size: 36px;
    line-height: 111%;
  }

  .h2-400-ls {
    font-size: 32px;
    line-height: 113%;
  }

  .h3-400-ls {
    font-size: 24px;
  }

  .b1-400-ls {
    font-size: 20px;
    line-height: 120%;
  }

  .b3-400-ls {
    font-size: 14px;
  }

  .b3-400 {
    font-size: 14px;
  }

  .b4-400 {
    font-size: 12px;
    line-height: 117%;
  }

  .btn {
    padding: 5px 28px;
    height: 32px;
    font-size: 14px;
  }

  .btn-border-black {
    padding: 5px 27px;
  }

  .btn-border-grey {
    padding: 5px 27px;
  }

  .btn-arrow {
    width: 56px;
    height: 32px;
  }

  .mt300 {
    margin-top: 140px;
  }

  .mt135 {
    margin-top: 80px;
  }

  .mt130 {
    margin-top: 78px;
  }

  .mt56 {
    margin-top: 40px;
  }

  .pd150 {
    padding: 70px 0;
  }

  .header.header-home .header__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__main {
    padding: 11px 0;
  }

  .mobile-header__close {
    top: 28px;
    right: 28px;
  }

  .mobile-header__container {
    padding: 40px 0;
  }

  .mobile-header__inner {
    padding: 0 12px;
  }

  .mobile-header__menu ul a {
    gap: 40px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__row {
    gap: 10px;
  }

  .footer__text {
    max-width: 199px;
  }

  .footer__menu {
    gap: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 5px);
    flex: 0 1 calc(50% - 5px);
  }

  .footer__copyright {
    margin-top: 40px;
  }

  .menu-footer ul {
    gap: 20px;
  }

  .contacts-footer {
    gap: 24px;
  }

  .contacts-footer__items {
    gap: 33px;
  }

  .contacts-footer__item:not(:last-child)::after {
    bottom: -17px;
  }

  .home__video::after {
    background: radial-gradient(59.16% 62.04% at 46.45% 48.84%, rgba(11, 15, 20, 0) 0%, #121821 100%);
  }

  .home {
    padding: 100px 0 40px 0;
  }

  .home__row {
    gap: 60px;
  }

  .home__column:last-child {
    gap: 8px;
  }

  .home__title {
    margin-top: 16px;
  }

  .hero__text {
    max-width: 336px;
  }

  .hero__title {
    margin-top: 8px;
  }

  .no-webp .hero--founders {
    background-image: url("../img/patterns/01-3.png"); }

  .no-webp .hero--about {
    background-image: url("../img/patterns/02-3.png"); }

  .no-webp .hero--portfolio {
    background-image: url("../img/patterns/03-3.png"); }

  .clarity__row {
    gap: 10px;
  }

  .clarity__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .item-arrow {
    padding: 20px;
    border-radius: 8px;
  }

  .item-arrow--bg {
    min-height: 400px;
  }

  .content-block__row {
    gap: 40px;
  }

  .content-block__image {
    padding-bottom: 123.5%;
    border-radius: 8px;
  }

  .content-block__text {
    margin-top: 20px;
  }

  .content-block__info {
    margin-top: 40px;
    gap: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .content-block__info-item {
    width: 86px;
  }

  .content-block__email {
    gap: 32.5px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .content-block__email-text {
    width: 100%;
    max-width: 163px;
  }

  .items-hover__item.hover .items-hover__image {
    padding-bottom: 123.5%;
  }

  .items-hover__image {
    border-radius: 8px;
  }

  .items-slider__top {
    gap: 8px;
  }

  .items-slider__top .items-slider__btn {
    margin-top: 32px;
  }

  .items-slider--variable-end .item-arrow--bg {
    min-height: 400px;
  }

  .card-icon__number {
    width: 40px;
  }

  .card-icon__text {
    margin-top: 9px;
  }

  .card-number .card-icon__text {
    padding-left: 64px;
  }

  .subscribe__title {
    padding: 0 12px;
  }

  .subscribe__title br {
    display: none;
  }

  .card-tag {
    gap: 60px;
    border-radius: 8px;
    padding: 20px;
  }

  .why-us__row {
    gap: 32px 16px;
  }

  .investments__body {
    gap: 10px;
  }

  .card-logo {
    padding: 0;
  }

  .dropdown__list {
    padding: 20px;
    min-width: 240px;
  }

  .contacts__items {
    gap: 40px;
  }

  .form-contact__row {
    gap: 10px;
  }
}

@media (max-width: 365px) {
  .content-block__image-label {
    padding: 10px 14px;
  }
}

@media (pointer: fine) {
  .btn-gold:hover {
    background: #b88949;
  }

  .btn-border-black:hover {
    background: #0f172a;
    color: #fff;
  }

  .btn-grey:hover {
    background: #64748b;
    color: #fff;
  }

  .btn-border-grey:hover {
    background: #e2e8f0;
  }

  .btn-arrow-gold:hover {
    background: #b88949;
  }

  .btn-arrow-grey:hover {
    background: #fff;
  }

  .btn-arrow-grey:hover svg {
    stroke: #0f172a;
  }

  .btn-arrow-grey-light:hover {
    background: #d4af77;
  }

  .btn-arrow-grey-light:hover svg {
    stroke: #fff;
  }

  .btn-arrow-grey-dark:hover {
    background: #64748b;
  }

  .btn-arrow-grey-dark:hover svg {
    stroke: #fff;
  }

  .submenu ul li a:hover {
    color: #f8fafc;
  }

  .socials ul a:hover {
    background: #e2e8f0;
  }

  .header__burger:hover span:nth-child(2) {
    width: 18px;
  }

  .header__menu ul a:hover {
    background: #e2e8f0;
  }

  .mobile-header__body::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  .mobile-header__menu ul a:hover {
    background: #fff;
  }

  .mobile-header__menu ul a:hover svg {
    stroke: #0f172a;
    -webkit-transform: translateY(6.5px);
    -ms-transform: translateY(6.5px);
    transform: translateY(6.5px);
  }

  .mobile-header__submenu ul li a:hover {
    color: #0f172a;
  }

  .menu-footer ul a:hover {
    color: #64748b;
  }

  .contacts-footer__item a:hover {
    color: #64748b;
  }

  .content-block__email-link:hover {
    color: #64748b;
  }

  .filter__reset:hover {
    color: #64748b;
  }

  .dropdown__btn:hover .dropdown__btn-text {
    color: #64748b;
  }

  .dropdown__btn:hover .dropdown__btn-arrow svg {
    stroke: #64748b;
  }

  .dropdown__item:hover {
    color: #64748b;
  }

  .item-contacts a:hover {
    color: #0f172a;
  }
}

@media (max-height: 950px) {
  .mobile-header__container {
    padding: 60px 0;
  }
}

.webp .hero--founders { background-image: url(../img/patterns/01.webp); }

.webp .hero--about { background-image: url(../img/patterns/02.webp); }

.webp .hero--portfolio { background-image: url(../img/patterns/03.webp); }

@media (max-width: 1024.98px) {

  .webp .hero--founders { background-image: url(../img/patterns/01-2.webp); }
}

@media (max-width: 1024.98px) {

  .webp .hero--about { background-image: url(../img/patterns/02-2.webp); }
}

@media (max-width: 1024.98px) {

  .webp .hero--portfolio { background-image: url(../img/patterns/03-2.webp); }
}

@media (max-width: 480.98px) {

  .webp .hero--founders { background-image: url(../img/patterns/01-3.webp); }
}

@media (max-width: 480.98px) {

  .webp .hero--about { background-image: url(../img/patterns/02-3.webp); }
}

@media (max-width: 480.98px) {

  .webp .hero--portfolio { background-image: url(../img/patterns/03-3.webp); }
}